body {
    width: 90%;
    background-color: black;
    font-family: Arial, sans-serif;
    color: aquamarine;
    margin: auto;
}

.leaderboard-container {
    width: 100%;
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leaderboard-item {
    width: min-content;
}

.score-box{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}