body {
    width: 90%;
    background-color: black;
    font-family: Arial, sans-serif;
    font-size: 2em;
    color: rgb(100, 211, 85);
    margin: auto;
}

hr {
    border: 2px solid blueviolet;
}

@media screen and (min-height: 300px){
    body{
        font-size: 6em;
    }

    .leaderboard-container{
        align-items: center;
    }

    .leaderboard-item{
        width: 90%;
        padding: 50px;
    }
}
.leaderboard-container {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.leaderboard-item {
    padding-left: 50px;
    padding-right: 50px;
    margin: 10px;
    border-style: groove;
    border-width: 5px;
    border-color: blueviolet;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.score-box{
    display: flex;
    margin: 0 auto;
}

.score{
    padding: 10px;
}

.team-name{
    align-self: center;
}